@import "/utils/variables.scss";
nav {
  width: auto;
  display: flex;
  justify-content: space-between;
  padding-left: 5%;
  padding-top: 2.25rem;
  padding-right: 5%;
  > section {
    > ul {
      display: flex;
      flex-direction: row;
      list-style: none;
      > li {
        > img {
          border: 1px solid transparent;
        }
        > a {
          text-decoration: none;
          &:link {
            color: inherit;
          }

          &:visited {
            color: inherit;
          }

          &:hover {
            color: $accent-primary-light;
          }

          &:active {
            color: $accent-primary-light;
          }
        }
        padding-inline: 2.25rem;
      }
      > li:nth-last-child(2) {
        border-right: 1px solid #000;
      }
    }
  }
}

h1 {
  font-size: 4rem;
  font-style: normal;
  font-weight: 700;
  line-height: 130%; /* 5.2rem */
  letter-spacing: -0.04rem;
  display: contents;
}

h2 {
  font-size: 3rem;
  font-style: normal;
  font-weight: 700;
  line-height: 115%; /* 3.45rem */
  letter-spacing: -0.03rem;
  display: contents;
}

h3 {
  font-size: 2rem;
  font-style: normal;
  font-weight: 600;
  line-height: 105%; /* 2.1rem */
  letter-spacing: -0.01rem;
  display: contents;
}

body,
body[data-theme="light"] {
  --color-text-primary: $black-300;
  --color-bg-primary: $white-800;
  --color-bg-toggle: #1e90ff;
}

body[data-theme="dark"] {
  --color-text-primary: $white-900;
  --color-bg-primary: $black-300;
  --color-bg-toggle: #a9a9a9;
}

body {
  background: var(--color-bg-primary);
  color: var(--color-text-primary);
  transition: background 0.25s ease-in-out;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
