$accent-primary-light: #0252cd;

$accent-primary-dark: #428dff;

$accent-secondary: #ffbe62;

$white-900: #fff;

$white-800: #f3f8ff;

$white-500: #6f74a7;

$black-200: #151e2c;

$black-300: #192333;

$black-400: #778295;

$jobit: #0bab7c;
$morrent: #416cea;
$hipnode: #ff6934;
